/*====================================
=            Contact Page            =
====================================*/

.contactMap {
	width: 630px;
	min-height: 400px;
	display: block;
	position: relative;
	float: left;
	margin-top: 11px;
	margin-bottom: 10px;
	border-style: 1px solid #004490;
}

/*Блок формы письма */
.mailBlock {
	min-height: 150px;
	margin: 10px 0;
	padding-bottom: 10px;
	position: relative;
	background: #fff;
	@include drop-shadow($x: 1px, $y: 1px, $blur: 2px, $alpha: .3);
}

.personQuest {
	display: block;
	position: relative;
	float: left;
	min-height: 100px;
	margin-top: 0px;

	strong {
		// font-family: $bold;
		font-size: $font-size-large;
		font-weight: normal;
		line-height: 1em;
		display: block;
		position: relative;
		float: left;
		color: $primary;
		margin-bottom: 10px;
	}

	p {
		font-family: $main_font;
		font-size: $font-size-base;
		line-height: 1.2em;
		position: relative;
		float: left;
		color: $primary;
	}
}

.personImage {
	display: block;
	position: relative;
	float: left;
	min-height: 200px;
	margin-bottom: 0px;

	img {
		width: 100%;
		height: auto;
	}
}

.form_contact {
	margin-top: 10px;

	input[type='text'],
	input[type='email'] {
		width: 100%;
		height: 35px;
		outline: none;
		margin-top: 20px;
		margin-bottom: 5px;
		padding: 0 10px;
		text-align: center;
		font-family: $main_font;
		font-size: 15px;
		color: $primary;
		border: 1px solid $secondary !important;
		border-style: none;
		background: lighten($third, 10%);
		@include border-radius(5px);
		@include inner-shadow(240, 191, 78, $alpha: .5);
		transition: 0.2s;

		&:focus {
			background: lighten($third, 15%);
			border-color: $primary !important;
		}

		&:focus::-webkit-input-placeholder {
			color: transparent;
			transition: 0.2s;
		}

		&:focus::-moz-placeholder {
			color: transparent;
			transition: 0.2s;
		}

		&:focus:-ms-input-placeholder {
			color: transparent;
			transition: 0.2s;
		}

		&::-webkit-input-placeholder { /* WebKit browsers */
		    color: $primary;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color: $primary;
		   opacity:  1;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color: $primary;
		   opacity:  1;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10+ */
		   color: $primary;
		}
	}

	textarea {
		width: 100%;
		//max-width: 40%;
		height: 100px;
		outline: none;
		margin-top: 20px;
		margin-bottom: 5px;
		padding: 10px;
		text-align: center;
		font-family: $main_font;
		font-size: 15px;
		color: $primary;
		border: 1px solid $secondary !important;
		border-style: none;
		background: lighten($third, 10%);
		@include border-radius(5px);
		@include inner-shadow(240, 191, 78, $alpha: .5);
		transition: 0.2s;

		&:focus {
			background: lighten($third, 15%);
			border-color: $primary !important;
		}

		&:focus::-webkit-input-placeholder {
			color: transparent;
			transition: 0.2s;
		}

		&:focus::-moz-placeholder {
			color: transparent;
			transition: 0.2s;
		}

		&:focus:-ms-input-placeholder {
			color: transparent;
			transition: 0.2s;
		}

		&::-webkit-input-placeholder { /* WebKit browsers */
		    color: $primary;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color: $primary;
		   opacity:  1;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color: $primary;
		   opacity:  1;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10+ */
		   color: $primary;
		}
	}
}

.agreement {
	width: 100%;
	min-height: 1rem;
	display: flex;
	align-items: center;
	font-size: $font-size-small;

	p {
		margin-left: 1rem;
		margin-top: 2rem;

		a {
			font-family: $bold;
		}
	}

	input.checkbox {
		width: 2rem;
		height: 2rem;
		display: block;
	}
}

.SendMail {
	width: 100%;
	min-height: 2rem;
	display: block;
}

button[type='submit'] {
	color: $third;
	font-family: $main_font;
	font-size: $font-size-base;
	padding: 5px 30px 7px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid $primary;
	@include border-radius(5px);
	transition: 0.2s;
	outline: none !important;
	background-color: $primary;
	// background: linear-gradient(top,rgb(137,176,227) 0%,rgb(37,100,174) 43%,rgb(0,68,144) 50%,rgb(0,79,149) 78%,rgb(0,68,144) 100%);

	&:hover {
		color: lighten($third, 7%);
		background-color: darken($primary, 3%);
		letter-spacing: 1px;
		// background: linear-gradient(top,rgb(137,176,227) 0%,rgb(37,100,174) 43%,rgb(0,76,156) 50%,rgb(0,78,148) 78%,rgb(0,68,144) 100%);
		// @include inner-shadow($x: 0, $y: 0, $blur: 10px, $spread: 0, $alpha: .3);
	}

	&:active {
		color: $fourth;
		background-color: darken($primary, 7%);
		letter-spacing: 1px;
		// background: linear-gradient(top,rgb(0,74,156) 0%,rgb(37,100,174) 42%,rgb(0,74,157) 100%);
		// @include inner-shadow($x: 0, $y: 0, $blur: 15px, $spread: 0, $alpha: .6);
	}
}

button[type='reset'] {
	color: $primary;
	font-family: $main_font;
	font-size: $font-size-base;
	padding: 5px 30px 7px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid $secondary !important;
	@include border-radius(5px);
	transition: 0.2s;
	outline: none !important;
	background-color: lighten($third, 10%);

	&:hover {
		color: $primary;
		background-color: $third !important;
		letter-spacing: 1px;
	}

	&:active {
		color: $primary;
		background-color: $third;
		letter-spacing: 1px;
	}

	&:focus {
		color: $primary;
		background-color: lighten($third, 10%);
		letter-spacing: 1px;
	}
}

.captcha-block {
	padding-left: 0;
	margin-top: -5px;

	.captcha-image {
		margin-top: -10px;
	}

	.captcha-input {
		height: 37px !important;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

/*=====  End of Contact Page  ======*/
