/*===============================
=            Content            =
===============================*/

.main-content {
	//width: 100%;
	min-height: 300px;
	float: left;
	position: relative;
	margin-top: 140px; //NY - margin-top: 180px;
	margin-bottom: 20px;
	padding-right: 0;

	.baner__img {
		width: 100%;
		min-height: 150px;
		max-height: 250px;
		overflow: hidden;
		margin-top: 15px;

		img {
			width: 100%;
			height: auto;

		}

		@include grid-media($Small) {
			height: 150px;
			position: relative;
			overflow: hidden;

		    img {
				width: auto;
		    	height: 100%;
		    	display: block;
		    	position: absolute;
		    	left: 50%;
		    	transform: translateX(-50%);
		    }
		}
	}

	p {
		font-family: $main_font;
		font-size: $font-size-base;
		font-weight: normal;
		color: $primary;

		// strong {
		// 	//font-family: $bold;
		// }
	}

	h5 {
		font-family: $main_font;
		font-size: $font-size-large;
		font-weight: normal;
		color: $primary;

		// strong {
		// 	// font-family: $bold;
		// }
	}

	.section-content,
	.equipment-content,
	.adresss-content {
		min-height: 150px;
		margin-top: 15px;
		padding: 0;
		background: #fff;
		@include drop-shadow($x: 1px, $y: 1px, $blur: 2px, $alpha: .3);

		h2 {
			font-family: $main_font;
			font-size: $font-size-h3;
			font-weight: normal;
			line-height: 1;
			color: $primary;
			display: inline-block;
			min-height: 50px;
			width: 100%;
			background-color: lighten($third, 10%);
			// background-image: url(images/Acc_label.png);
			// background-repeat: repeat-x;
			margin-top: 0;
			padding: 10px 0 12px 20px;
			@include drop-shadow($x: 0, $y: 1px, $blur: 2px, $alpha: .3);
		}

		// @include grid-media($Small) {

		//     h2 {

		//     }
		// }
	}

	.section-inside {
		min-height: 150px;
		padding-bottom: 15px;

		.section-image {
			min-height: 150px;
			max-height: 220px;
			overflow: hidden;
			padding-left: 0;
			float: left;

			img {
				width: 100%;
				height: auto;
			}
		}

		.section-text {
			min-height: 150px;
			padding-right: 0;

			h3 {
				font-family: $bold;
				font-size: $font-size-h4;
				font-weight: normal;
				color: $primary;
				margin-top: 0;
				margin-bottom: 10px;
			}

			p {
				font-family: $main_font;
				font-size: $font-size-base;
				font-weight: normal;
				margin-bottom: 5px;
				margin-top: 5px;
			}

			a {
				font-family: $bold;
			}

			ul {
				padding-left: 18px;
				margin-top: 0;

				li {
					font-family: $main_font;
					font-size: $font-size-base;
					font-weight: normal;

					// strong {
					// 	// font-family: $bold;
					// }
				}
			}
		}

		@include grid-media($Small) {

		    .section-image {
		    	padding-right: 0;
		    	margin-bottom: 15px;
		    }

		    .section-text {
		    	padding-left: 0;
		    }
		}
	}

	.equipment-inside {
		min-height: 150px;
		padding-bottom: 15px;

		.equipment-image {
			min-height: 150px;
			//max-height: 220px;
			overflow: hidden;
			padding-left: 0;
			float: left;

			.equipment-inside-image {
				// display: inline-block;
				float: left;
				position: relative;
				margin-bottom: 10px;
				@include drop-shadow($x: 1px, $y: 1px, $blur: 3px, $alpha: .3);
				transition: 0.2s;

				a {
					outline: none;
					cursor: url('images/zoom.svg') 12 6, pointer;
				}

				&:hover {
					@include drop-shadow($x: 3px, $y: 3px, $blur: 10px, $alpha: .3);
				}

				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.equipment-text {
			min-height: 150px;
			padding-right: 0;

			h3 {
				font-family: $bold;
				font-size: $font-size-h4;
				font-weight: normal;
				color: $primary;
				margin-top: 0;
				margin-bottom: 10px;
			}

			p {
				font-family: $main_font;
				font-size: $font-size-base;
				font-weight: normal;
				margin-bottom: 5px;
				margin-top: 5px;

				// strong {
				// 	// font-family: $bold;
				// }
			}

			a {
				font-family: $bold;
			}

			ul {
				padding-left: 18px;
				margin-top: 0;

				li {
					font-family: $main_font;
					font-size: $font-size-base;
					font-weight: normal;

					// strong {
					// 	// font-family: $bold;
					// }
				}
			}
		}

		@include grid-media($Small) {

		    .equipment-image {
		    	padding-right: 0;
		    	margin-bottom: 15px;

		    	.equipment-inside-image {
		    		width: 100%;
		    	}
		    }

		    .equipment-text {
		    	padding-left: 0;
		    }
		}
	}

	.info-content {
		min-height: 150px;
		margin-top: 15px;
		padding: 0;
		background: #fff;
		@include drop-shadow($x: 1px, $y: 1px, $blur: 2px, $alpha: .3);

		a {
			h2 {
				font-family: $main_font;
				font-size: $font-size-h3;
				font-weight: normal;
				color: $primary;
				display: inline-block;
				min-height: 50px;
				width: 100%;
				background-color: lighten($third, 10%);
				// background-image: url(images/Acc_label.png);
				// background-repeat: repeat-x;
				margin-top: 0;
				padding: 10px 0 12px 15px;
				@include drop-shadow($x: 0, $y: 1px, $blur: 2px, $alpha: .3);

				&:after {
					content:"\f061";
					font: {
						family: "FontAwesome";
						size: $font-size-large;
					};
					color: $primary;
					margin-left: 12px;
					transition: all 0.3s;
				}

				&:hover {

					&:after {
						margin-left: 18px;
					}
				}
			}
		}

		.info-inside {
			min-height: 100px;
			padding-bottom: 15px;

			&__image {
				width: calc(30% - 15px);
				height: 180px;
				//max-height: 220px;
				overflow: hidden;
				padding-left: 0;
				margin-right: 15px;
				float: left;

				img {
					width: auto;
					height: 100%;
				}
			}

			&__description {
				width: 70%;
				// height: 150px;
				display: block;
				float: left;

				p {
					margin: 0;
				}
			}

			&__footer {
				width: 100%;
				min-height: 16px;
				display: block;
				position: relative;
				padding: 0;
			}

			&__link {
				width: 50%;
				font-family: $bold;
				font-size: $font-size-base;
				text-align: left;
				color: $primary;
				//position: absolute;
				bottom: 0px;
				padding: 8px 0 8px 15px;
				margin: 0;
				float: left;
				background-color: lighten($third, 10%);
				transition: background 0.3s;

				&:hover {
					background-color: lighten($third, 5%);
				}
			}

			&__date {
				width: 50%;
				font-family: $bold;
				font-size: $font-size-base;
				text-align: right;
				color: $primary;
				//position: absolute;
				bottom: 0px;
				padding: 8px 15px 8px 0;
				margin: 0;
				float: left;
				background-color: lighten($third, 10%);
			}
		}

		&__inside {
			min-height: 150px;
			padding: 0;
			margin-bottom: 15px;
			position: relative;

			h2 {
				font-family: $main_font;
				font-size: $font-size-h3;
				font-weight: normal;
				color: $primary;
				display: inline-block;
				min-height: 50px;
				width: 100%;
				background-color: lighten($third, 10%);
				margin-top: 0;
				padding: 10px 0 12px 15px;
				margin-bottom: 0;
				line-height: 1;
			}
		}

		&__text {
			padding: 0 15px;

			a {
				font-family: $bold;
			}
		}

		&__image {
			width: 100%;
			min-height: 200px;
			display: block;
			position: relative;
			float: left;
			padding: 15px;

			img {
				width: 100%;
				height: auto;
			}
		}

		@include grid-media($Small) {

		    .info-inside {

		    	&__image {
		    		width: 100%;
		    		height: 150px;
		    		float: left;
		    		margin-right: 0;
		    		margin-bottom: 15px;

		    		img {
		    			width: 100%;
		    			height: auto;
		    		}
		    	}

		    	&__description {
		    		width: 100%;
		    		float: left;
		    	}
		    }

		    &__inside {
		    	margin-bottom: 0;
		    }
		}
	}

	.places-banner {
		min-height: 150px;
		max-height: 250px;
		overflow: hidden;
		display: block;
		position: relative;
		float: left;
		margin-bottom: 15px;

		img {
			width: 100%;
			height: auto;
		}
	}

	.adresss-content {

		&__map {

			&--mobile {
				width: 100%;
				height: 100vh;
				display: block;
				position: fixed;
				left: 0;
				top: 0;
				z-index: 9999;
				transform: translateY(-100%);
			}
		}
	}

	.places-map {
		min-height: 150px;
		overflow: hidden;
		display: block;
		position: relative;
		float: left;
		margin-bottom: 15px;

		p {
			margin: 0;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	.contact-toggle {
		width: 60px;
		height: 60px;
		display: block;
		top: 0;
		left: 50%;
		position: fixed;
		background-color: $primary;
		z-index: 9999;
		transform: translate(-50%, -100%);

		.toggle-line {
			width: 30px;
			height: 3px;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
		}

		&__top {
			background-color: $fourth;
			// margin-top: 0;
			transform: translate(-50%, -50%) rotate(-45deg);
			transform-origin: 50% 50%;
		}

		&__bottom {
			background-color: $fourth;
			// margin-top: 0;
			transform: translate(-50%, -50%) rotate(45deg);
			transform-origin: 50% 50%;
		}
	}

	@include grid-media($XLarge) {

	    .adresss-content {
	    	display: none;
	    	visibility: hidden;
	    }

	    .places-map {

	    	&--desktop {
	    		display: block;
	    		visibility: visible;
	    	}

	    	&--mobile {
	    		display: none;
	    		visibility: hidden;
	    	}
	    }
	}

	@include grid-media($Large) {

	    .adresss-content {
	    	display: none;
	    	visibility: hidden;
	    }

	    .places-map {

	    	&--desktop {
	    		display: block;
	    		visibility: visible;
	    	}

	    	&--mobile {
	    		display: none;
	    		visibility: hidden;
	    	}
	    }
	}

	@include grid-media($Medium) {

	    .adresss-content {
	    	display: none;
	    	visibility: hidden;
	    }

	    .places-map {

	    	&--desktop {
	    		display: block;
	    		visibility: visible;
	    	}

	    	&--mobile {
	    		display: none;
	    		visibility: hidden;
	    	}
	    }
	}

	@include grid-media($XSmall) {
	    width: 100%;
	    padding-left: 0;
	    margin-top: 80px;
	}

	@include grid-media($Small) {

	    .places-banner {
	    	min-height: 50px;
	    }

	    .adresss-content {
	    	display: block;
	    	visibility: visible;
	    }

	    .places-map {
			height: 250px;
			position: relative;

	    	img {
	    		width: auto;
	    		height: 100%;
	    		position: absolute;
				left: 50%;
				transform: translateX(-50%);
	    	}

	    	&--desktop {
	    		display: none;
	    		visibility: hidden;
	    	}

	    	&--mobile {
	    		display: block;
	    		visibility: visible;
	    	}
	    }
	}
}

#none {
	display: none;
}

h1 {
	font-family: $main_font;
	font-size: $font-size-h1 - 6;
	line-height: 1;
	margin: 0;
	font-weight: normal;
	color: $primary;
	// text-shadow: 1px 1px 1px white;
}

.textQuest {
	font-family: $main_font;
	font-size: $font-size-base;
	display: block;
	top: -12px;
	position: relative;
	margin: 15px 0 5px 2px;
	font-weight: normal;
	color: $primary;
	// text-shadow: 1px 1px 1px white;
}

/*=====  End of Content  ======*/

/*==================================
=            Folio Page            =
==================================*/

.pagination {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding-left: 0;

	li {
		width: 37px;
		height: 37px;
		list-style: none;
		color: $primary;
		border: 1px solid $primary;
		margin-right: 5px;

		&:first-child,
		&:last-child {
			display: none;
			visibility: hidden;
		}

		a, span {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s;
		}

		&:hover {

			a {
				background-color: $third;
				color: $primary;
			}
		}

		&.active {

			a {
				background-color: $primary;
				color: $fourth;
			}
		}

		&.disabled {
			display: none;
		}
	}
}

/*=====  End of Folio Page  ======*/
