/* @group Fonts */
/* ========================================================================== */
@font-face {
    font-family: 'bosch_sans_boldregular';
    src: url('fonts/BoschSans-Bold/boschsans-bold-webfont.eot');
    src: url('fonts/BoschSans-Bold/boschsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BoschSans-Bold/boschsans-bold-webfont.woff') format('woff'),
         url('fonts/BoschSans-Bold/boschsans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bosch_sans_regularregular';
    src: url('fonts/BoschSans-Regular/boschsans-regular-webfont.eot');
    src: url('fonts/BoschSans-Regular/boschsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BoschSans-Regular/boschsans-regular-webfont.woff') format('woff'),
         url('fonts/BoschSans-Regular/boschsans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/* @end  */