/* $group Menu */
/* ========================================================================== */
.main-navbar {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0px;
	margin: 0;
	padding: 0;
	z-index: 10;
	// @include drop-shadow($x: 0, $y: 2px, $blur: 15px, $spread: 0, $alpha: .6);
	transition: 0.2s;

	&--fixedtop {
		margin-top: -85px; //NY - margin-top: -152px;
	}

	.header {
		width: 1170px;
		// height: 100px;
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		padding: 10px 0; //NY - padding: 40px 0 10px;
		background-color: lighten($third, 15%);
		// background-image: url(images/Wrapper_back.png);
		// background-attachment: fixed;
		// background-image: url(images/Headers_back.jpg);
		// background-repeat: repeat-x;

		&__logo-block {
			width: 30%;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			&-logo {
				height: 40px;
				position: relative;
				z-index: 1000;
				transition: 0.2s;

				a {
					width: 100%;

					img {
						width: auto;
						height: 100%;
					}
				}
			}

			.header-service-logo {
				position: relative;
				float: left;
				height: 58px;
				//margin-left: 20px;

				img {
					width: auto;
					height: 100%;
					margin-top: 4px;
					margin-right: 4px;
				}
			}

			.header__slogan {
				display: block;
				position: relative;
				float: left;
				margin-left: 50px;
				margin-top: 3px;
				font-family: $bold;
				font-size: 13px;
				line-height: 1.2em;
				font-weight: normal;
				color: $primary;
				// text-shadow: 1px 1px 1px white;
			}

			p {
				margin: 8px 0 0;
			}
		}

		&__contact {
			width: 70%;
			display: flex;
			flex-direction: row-reverse;
			align-items: center;

			&-adress {
				display: inline-block;
				position: relative;
				//float: right;
				font-family: $bold;
				font-size: 13px;
				line-height: 1.2em;
				font-weight: normal;
				text-align: right;
				color: $primary;
				padding: 0 20px;
				// text-shadow: 1px 1px 1px white;
			}

			&-tel {
				display: flex;
				flex-direction: column;
				position: relative;
				//float: right;
				font-family: $bold;
				font-size: 20px;
				line-height: 1.1em;
				font-weight: normal;
				text-align: right;
				color: $primary;
				// text-shadow: 1px 1px 1px white;
			}

			p {
				margin: 10px 0;
			}
		}
	}

	&__ny {
		width: 100%;
		height: 60px;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
		background: url("images/ny_line.png") 0 0 repeat-x;

		&-bottom {
			width: 100%;
			height: 60px;
			display: block;
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: 9999;
			background: url("images/ny_line.png") 0 0 repeat-x;
		}
	}

	@include grid-media($XSmall) {
	    width: 100%;
	    height: 60px;
	    position: fixed;

	    .header {
	    	width: 100%;
	    	height: 100%;

	    	&__logo-block {
				margin-left: 15px;

	    		&-logo {
	    			height: 30px;
	    		}
	    	}

	    	&__contact {

	    		&--desktop {
	    			display: none;
	    			visibility: hidden;
	    		}
	    	}
	    }
	}
}

.main-nav {
	padding: 0;
	margin: 0;
}

.nav {
	width: 1170px;
	margin: 0 auto;
	bottom: 0px;
	z-index: 10;
	transition: 0.4s;

	ul {
		// display: flex;
		// flex-direction: row;
		// justify-content: space-around;
		margin: 0px;
		padding: 0px;
		list-style-type: none;

		li {
			width: calc(1170px / #{$numberMenu});
			height: 37px;
			// display: inline-block;
			float: left;
			// text-align: center;
			text-decoration: none;
			position: relative;

			a {
				height: 100%;
				width: 100%;
				display: block;
				padding: 6px 0 3px;
				font-family: $main_font;
				font-size: $font-size-base + 1;
				font-weight: normal;
				color: $third;
				text-decoration: none;
				position: absolute;
				outline: none;
				cursor: pointer;
				text-align: center;
				background-color: $primary;
				// background: linear-gradient(top,rgb(137,176,227) 0%,rgb(37,100,174) 43%,rgb(0,68,144) 50%,rgb(0,79,149) 78%,rgb(0,68,144) 100%);
				transition: 0.2s;

				&:hover {
					color: lighten($third, 7%);
					background-color: darken($primary, 3%);
					// letter-spacing: 1px;
					// background: linear-gradient(top,rgb(137,176,227) 0%,rgb(37,100,174) 43%,rgb(0,76,156) 50%,rgb(0,78,148) 78%,rgb(0,68,144) 100%);
					// @include inner-shadow($x: 0, $y: 0, $blur: 10px, $spread: 0, $alpha: .3);
				}
			}

			&.active a {
				color: $fourth;
				background-color: darken($primary, 7%);
				// letter-spacing: 1px;
				// background: linear-gradient(top,rgb(0,74,156) 0%,rgb(37,100,174) 42%,rgb(0,74,157) 100%);
				// @include inner-shadow($x: 0, $y: 0, $blur: 15px, $spread: 0, $alpha: .6);
			}
		}
	}

	&--fixedtop {
		@include drop-shadow($x: 0, $y: 6px, $blur: 20px, $spread: 0, $alpha: .4);

		// ul {
		// 	li {
		// 		width: calc(100% / 6);
		// 		a {
		// 			width: calc(100% / 6);
		// 		}
		// 	}
		// }
	}

	&-toggle {
		width: 60px;
		height: 60px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		top: 0;
		right: 0;
		position: fixed;
		z-index: 9999;

		.toggle-line {
			width: 30px;
			height: 3px;
			display: block;
			background-color: $primary;
			position: absolute;
		}

		&__top {
			margin-top: -8px;
		}

		&__bottom {
			margin-top: 8px;
		}

		&--open {
			transition: all 1s;

			.nav-toggle__top {
				background-color: $fourth;
				margin-top: 0;
				transform: rotate(-45deg);
				transform-origin: 50% 50%;
			}

			.nav-toggle__middle {
				display: none;
				visibility: hidden;
			}

			.nav-toggle__bottom {
				background-color: $fourth;
				margin-top: 0;
				transform: rotate(45deg);
				transform-origin: 50% 50%;
			}
		}
	}

	&--mobile {
		width: 100%;
		height: 75vh;
		display: block;
		top: -100%;
		left: 0;
		overflow: hidden;
		position: fixed;
		padding: 60px 15px 15px;
		background-color: $primary;
		z-index: 9998;
		// transform: translateX(100%);

		ul {
			width: 100%;

			li {
				width: 100%;
				// float: none;

				a {
					width: calc(100% - 30px);
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0 15px;
				}
			}
		}

		&__contact {
			width: 100%;
			height: $navTelHeight;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			position: absolute;
			bottom: 0;
			margin-left: -15px;

			a {
				width: calc((100% / 3) - 2px);
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: $font-size-small;
				line-height: 1;
				text-align: center;
				color: $fourth;
				background-color: darken($primary, 2%);

				&.phone {

					&:before {
						content:"\f095";
						font: {
							family: "FontAwesome";
							size: $font-size-large;
						};
						color: $fourth;
						margin-right: 5px;
					}
				}

				&.email {

					&:before {
						content:"\f003";
						font: {
							family: "FontAwesome";
							size: $font-size-large;
						};
						color: $fourth;
					}
				}
			}
		}
	}

	@include grid-media($XLarge) {

	    &--desktop {
			display: block;
			visibility: visible;
		}

		&--mobile {
			display: none;
			visibility: hidden;
		}

		&-toggle {
			display: none;
			visibility: hidden;
		}
	}

	@include grid-media($Large) {

	    &--desktop {
			display: block;
			visibility: visible;
		}

		&--mobile {
			display: none;
			visibility: hidden;
		}

		&-toggle {
			display: none;
			visibility: hidden;
		}

	}

	@include grid-media($Medium) {

	    &--desktop {
			display: block;
			visibility: visible;
		}

		&--mobile {
			display: none;
			visibility: hidden;
		}

		&-toggle {
			display: none;
			visibility: hidden;
		}
	}

	@include grid-media($XSmall) {

	    &--desktop {
			display: none;
			visibility: hidden;
		}

		&--mobile {
			visibility: visible;
			display: flex;

			ul {

				li {

					a {
						width: 100%;
						padding: 0;
					}
				}
			}
		}

		&-toggle {
			display: flex;
			visibility: visible;
		}
	}
}
/* $end  */