/* ==========================================================================
   Main styles
   ========================================================================== */

body {
    line-height: 1.4;
    height: auto;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	background-color: lighten($third, 15%);
	// background-image: url(images/grey_wash_2.png);
	// background-attachment: fixed;
	min-height: 100%;
}

#wrapper {
	width: 960px;
	top: 0px;
	margin-right: auto;
	margin-left: auto;
	/*margin-top: 0px;*/
	height: auto;
	position: relative;
	min-height: 700px;
	margin-bottom: 0px;
	background-color: #fff;
	// background-image: url(images/Wrapper_back.png);
	/*background-color: #FFF;*/
	// box-shadow: 0px 0px 50px rgba(0,0,0,0.35);
	overflow: auto;
}

.wrapper {
	min-height: 700px;
	// background-color: lighten($third, 7%);
	// background-image: url(images/Wrapper_back.png);
	top: 0px;
	// box-shadow: 0px 0px 50px rgba(0,0,0,0.35);
	overflow: auto;

	&-error {
		width: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&__number {
			width: 40%;
			min-height: 30vh;
			position: relative;

			svg {
				width: 100%;
                height: auto;
                stroke: lighten($secondary, 70%);
                stroke-width: 5;
                fill: none;
                padding: 1rem;
                transition-duration: 0.3s;
			}
		}

		&__text {
			width: 100%;
			min-height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			text-align: center;
			top: 0;
			left: 0;

			h2 {
				font-size: $font-size-h2;
				animation: fadeIn 3s ease-in-out;
				//animation-delay: 2s;
			}
		}

		#countdown {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			h3 {
				font-family: $main_font;
				font-size: $font-size-h1 + 10;
				margin: 0;
				animation: fadeIn 3s ease-in-out;
			}
		}

		&__button {
			width: 100%;
			min-height: 60px;
			display: flex;
			justify-content: center;
			left: 0;
			top: 15vh;
			position: absolute;

			.button-back {
				width: 60px;
				height: 60px;
				display: flex;
			    justify-content: center;
			    align-items: center;
				position: relative;
				border: 1px solid $primary;
				background-color: #fff;
				overflow: hidden;
			    transition: background-color 0.3s cubic-bezier(.4,0,.2,1);

				&::after {
					content: '';
				    //width: 100%;
				    //height: 100%;
				    top: 0;
				    left: 0;
				    bottom: 0;
				    right: 0;
				    position: absolute;
				    background-color: $primary;
				    z-index: 1;
				    //box-sizing: border-box;
				    transition: transform 0.45s cubic-bezier(.4,0,.2,1) 75ms;
				    transform: scaleX(0);
				    transform-origin: center right;
				}

				svg {
	                fill: none;
	                stroke: $primary;
	                stroke-width: 6;
	                z-index: 10;
	                transition: all 0.3s;
	            }

				&:hover {

					svg {
	                    stroke: #fff;
	                    transform: translateX(-5px);
	                }

	                &::after {
	                    transform: scaleX(1);
	                    transition-delay: 0s;
	                }
	            }
			}
		}
	}

	@include grid-media($XSmall) {
	    width: 100%;
	    margin: 0;
	}
}

.footer {
	width: 100%;
	// display: inline-block;
	float: left;
	min-height: 50px;
	position: relative;
	margin-top: 15px;
	padding: 10px 0;
	border-top: 1px solid $primary;

	.copyright {
		min-height: 50px;
		padding-top: 5px;
		padding-left: 0;
	}

	p {
		font-family: $main_font;
		font-size: 11px;
		color: #004490;
		line-height: 1.2em;
		margin: 0;
	}

	span {
		font-family: $main_font;
		font-size: 11px;
		line-height: 1.2em;
		text-align: right;
		color: #004490;
		position: relative;
		float: right;
		bottom: 13px;
	}

	a {
		font-family: $main_font;
		font-size: 11px;
		text-decoration: none;
		color: $primary;

		&:hover {
			color: $secondary;
		}
	}

	.counters-block {
		min-height: 50px;
		padding-right: 0;

		.liveInternet {
			//position: absolute;
			width: 88px;
			height: 31px;
			margin: 10px 0 10px 10px;
			float: right;
			background: gray;
			/*opacity: 0;*/
		}
	}
}

/* $group No script */
/* ========================================================================== */
.noscript {
	width: 100%;
	min-height: 20px;
	background-color: #CC0006;
	text-align: center;
	display: table;
	padding: 5px;
	top: 0;
	position: fixed;
	z-index: 1000;
}

.noscript p {
	font-family: 'Verdana';
	font-size: 0.9em;
	color: #FFF;
	display: table-cell;
	vertical-align: middle;
}

.noscript p a {
	text-decoration: none;
	font-weight: bold;
	color: #f0c44b;
	cursor: pointer;
}

.noscript p a:hover {
	color: #fdebc5;
}

/* $end */