/*=====================================
=            Partners Page            =
=====================================*/

.partnersBlock {
	min-height: 150px;
	margin: 10px 0;
	padding: 15px;
	position: relative;
	background: #fff;
	@include drop-shadow($x: 1px, $y: 1px, $blur: 2px, $alpha: .3);
}

.partners-logo {
	min-height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	float: left;

	img {
		width: 250px;
		height: auto;
	}

	@include grid-media($Small) {
	    min-height: 100px;
	}
}

.partnersLink {
	font-size: $font-size-base;
	font-family: $bold;
	text-decoration: none;
	display: block;
	position: absolute;
	bottom: 10px;
	color: #004490;
}

.partnersText {
	font-size: $font-size-base;
	font-family: $main_font;
	text-align: justify;
	position: relative;
	float: left;
	display: flex;
	align-items: center;
	overflow: auto;
	min-height: 160px;
	padding: 0;

	p {
		margin-top: 0;
	}
}

.partners-image {
	min-height: 150px;
	max-height: 250px;
	overflow: hidden;
	display: block;
	position: relative;
	float: left;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0;

	&__banner {
		width: 100%;
		height: auto;
	}

	&__certificate {
		width: 250px;
		height: 250px;
		display: block;
		position: absolute;
		bottom: 0;
		left: 50px;
	}

	@include grid-media($Small) {

	    &__banner {
			display: none;
			visibility: hidden;
		}

	    &__certificate {
	    	width: 100%;
	    	left: 0;
	    }
	}
}

/*=====  End of Partners Page  ======*/
