/* $group Sidebar */
/* ========================================================================== */
.aside {
	//width: 320px;
	min-height: 780px;
	float: left;
	height: auto;
	margin-top: 150px; //NY - margin-top: 190px;
	margin-bottom: 20px;
	overflow: auto;
	text-align: center;
	padding-left: 0;

	// @include grid-media($XSmall) {
	//     display: none;
	//     visibility: hidden;
	// }
}

.sidebar-image {
	width: 100%;
	min-height: 50px;
	margin-top: 15px;
	position: relative;
	padding: 0;
	@include drop-shadow($x: 1px, $y: 1px, $blur: 3px, $alpha: .3);
	transition: 0.2s;

	img {
		width: 100%;
		height: auto;
	}

	&:first-child {
		margin-top: 0;
	}
}

.news {
	width: 100%;
	min-height: 150px;
	margin-top: 15px;
	background: rgba(255, 255, 255, 1);
	position: relative;
	padding: 0;
	@include drop-shadow($x: 1px, $y: 1px, $blur: 3px, $alpha: .3);
	transition: 0.2s;

	&:hover {
		@include drop-shadow($x: 3px, $y: 3px, $blur: 10px, $alpha: .3);
	}

	&:first-child {
		margin-top: 0;
	}

	&Header {
		font-family: $bold;
		font-size: $font-size-base + 2;
		font-weight: normal;
		text-align: center;
		width: 100%;
		min-height: 27px;
		display: inline-block;
		position: relative;
		background-color: lighten($third, 10%);
		// @include main-gradient();
		padding: 7px 0 6px;
		color: $primary;
		// text-shadow: 1px 1px 1px white;
	}

	&__text {
		font-family: $main_font;
		font-size: $font-size-base;
		text-align: center;
		color: $primary;
		line-height: 1.3em;
		display: inline-block;
		position: relative;
		width: 100%;
		min-height: 50px;
		margin: 10px 0 20px;

		strong {
			font-family: $bold;
			font-size: $font-size-base + 2;
			margin-bottom: 5px;
		}
	}

	&__tel {
		font-size: $font-size-large + 2;
		line-height: 1.1em;
		margin-top: 5px;
		margin-bottom: 0;
	}

	&--text-wide {
		font-family: $main_font;
		font-size: $font-size-base;
		text-align: center;
		color: $primary;
		line-height: 1.3em;
		display: inline-block;
		position: relative;
		width: 100%;
		min-height: 50px;
		margin: 10px 0 20px;
		padding: 0 15px;

		p {
			margin: 0 auto 15px;
		}

		span {
			font-family: $bold;
			font-size: $font-size-base;
		}
	}

	&Img {
		width: 100%;
		min-height: 80px;
		margin-bottom: 0px;

		a {
			cursor: default;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	&Img_click {
		width: 100%;
		min-height: 80px;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			opacity: 0.8;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	a {
		font-family: $bold;
		text-decoration: none;
		color: $primary;
		line-height: 1em;
		transition: 0.2s;

		&:hover {
			color: $secondary;
		}
	}

	&Date {
		font-family: $bold;
		font-size: $font-size-base - 4;
		text-align: right;
		color: $primary;
		width: 100%;
		min-height: 16px;
		//position: absolute;
		bottom: 0px;
		padding: 5px 10px 4px 0;
		margin: 0;
		display: block;
		background-color: lighten($third, 10%);
		float: left;
	}

	&_click_map {
		font-family: $bold;
		font-size: 12px;
		text-decoration: none;
		color: $primary;
	/* 	color: #2a8200; */
		line-height: 1em;
		cursor: pointer;
	}

	&Open {
		font-family: $bold;
		font-size: 12px;
		font-weight: normal;
		margin-left: 18px;
		bottom: 25px;
		color: $primary;
		text-decoration: none;
		cursor: pointer;
		float: left;
		position: absolute;
	}
}

.bannerSide {
	width: 100%;
	min-height: 500px;
	margin-top: 15px;
	cursor: pointer;
	float: left;
	position: relative;
	transition: 0.2s;
	@include drop-shadow($x: 1px, $y: 1px, $blur: 3px, $alpha: .3);

	&:hover {
		@include drop-shadow($x: 3px, $y: 3px, $blur: 10px, $alpha: .3);
	}

	img {
		width: 100%;
		height: auto;
	}
}

#news_click_map:hover {
	color: $secondary;
}

#to_print {
	display: none;
}

#print_frame{
    display: none;
}

button.print {
	color: $third;
	font-family: $main_font;
	font-size: $font-size-base;
	padding: 5px 30px 7px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid $primary;
	@include border-radius(5px);
	transition: 0.2s;
	outline: none !important;
	background-color: $primary;
	// background: linear-gradient(top,rgb(137,176,227) 0%,rgb(37,100,174) 43%,rgb(0,68,144) 50%,rgb(0,79,149) 78%,rgb(0,68,144) 100%);

	&:hover {
		color: lighten($third, 7%);
		background-color: darken($primary, 3%);
		letter-spacing: 1px;
		// background: linear-gradient(top,rgb(137,176,227) 0%,rgb(37,100,174) 43%,rgb(0,76,156) 50%,rgb(0,78,148) 78%,rgb(0,68,144) 100%);
		// @include inner-shadow($x: 0, $y: 0, $blur: 10px, $spread: 0, $alpha: .3);
	}

	&:active {
		color: $fourth;
		background-color: darken($primary, 7%);
		letter-spacing: 1px;
		// background: linear-gradient(top,rgb(0,74,156) 0%,rgb(37,100,174) 42%,rgb(0,74,157) 100%);
		// @include inner-shadow($x: 0, $y: 0, $blur: 15px, $spread: 0, $alpha: .6);
	}
}
/* $end  */