/*=============================
=            Folio            =
=============================*/

.folio-content {
	min-height: 150px;
	margin: 10px 0;
	padding: 15px;
	position: relative;
	background: #fff;
	@include drop-shadow($x: 1px, $y: 1px, $blur: 2px, $alpha: .3);

	&__text {


		h2 {
			font-size: $font-size-h3;
			font-family: $main_font;
			margin: 0;
		}

		// p {

		// }
	}

	&__gallery {
		width: 100%;
		min-height: 300px;
		display: block;
		position: relative;
		margin-top: 25px;
		margin-bottom: 0px;
		padding: 0;
	}

    @include grid-media($Small) {

        &__gallery {
            min-height: 150px;
        }
    }
}

/*=====  End of Folio  ======*/

/*=====================================
=            Slider Custom            =
=====================================*/

%ms-nav-arrow {
    //background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    margin-top: -2rem;
    text-align: center;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s cubic-bezier(.4,0,.2,1);
}

%arrow-before {
    content: "";
    width: 58px;
    height: 58px;
    display: block;
    background-size: cover;
    background-size: 50% 50%;
    top: 0;
    left: 0;
    padding: 14px;
    position: relative;
    z-index: 2;
    transition: all 0.3s;
}

%arrow-after {
    content: '';
    //width: 100%;
    //height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    //box-sizing: border-box;
    transition: transform 0.3s cubic-bezier(.4,0,.2,1) 40ms;
    transform: scaleX(0);
}

.gallery {
    //width: 50%;
    //min-height: $main-inside-height;
    position: relative;
    z-index: 2;

    /*----------  Arrows  ----------*/
    &__arrow {
        z-index: 100;

        .ms-nav-prev {
            @extend %ms-nav-arrow;
            left: 0;
            // margin-left: -0.3rem;
            // border: 0.3rem solid #fff;
            cursor: url('images/gallery_arrow_l.png') 45 45, pointer;

            // svg {
            //     fill: none;
            //     stroke: #fff;
            //     stroke-width: 16;
            //     z-index: 10;
            //     transition: all 0.3s;
            // }

            // &::after {
            //     @extend %arrow-after;
            //     transform-origin: center right;
            //     background-color: #fff;
            // }

            // &:hover {


            //     svg {
            //         stroke: $primary;
            //         transform: translateX(-5px);
            //     }

            //     &::after {
            //         transform: scaleX(1);
            //         //transition-delay: 0s;
            //     }
            // }
        }

        .ms-nav-next {
            @extend %ms-nav-arrow;
            right: 0;
            // margin-right: -0.3rem;
            // border: 0.3rem solid #fff;
            cursor: url('images/gallery_arrow_r.png') 45 45, pointer;

            // svg {
            //     fill: none;
            //     stroke: #fff;
            //     stroke-width: 16;
            //     z-index: 10;
            //     transition: all 0.3s;
            // }

            // &::after {
            //     @extend %arrow-after;
            //     transform-origin: center left;
            //     background-color: #fff;
            // }

            // &:hover {


            //     svg {
            //         stroke: $primary;
            //         transform: translateX(5px);
            //     }

            //     &::after {
            //         transform: scaleX(1);
            //         //transition-delay: 0s;
            //     }
            // }
        }

    }

    @media screen and (max-width: 1024px) {

        &__arrow {
            display: none;
        }
    }
}

/*=====  End of Slider Custom  ======*/